/* Write your CSS here! */
/* body {
    background-image: url("https://wallpaperaccess.com/full/1547801.jpg");
background-color: blanchedalmond;
background-size: cover;
}
 img {
    width:  100px;
    height: 100px;
}  */