/* Write your CSS here! */

body {
    background-image: url("https://w.wallhaven.cc/full/z8/wallhaven-z88zwg.png");
    background-size: cover;
    margin: 8px;
    display: block;
}
#mainHeading{
    text-align: center;
    color: red;
}
.funParagraph{
    color: green;
}
p {
color: green;
margin: 8px, 10px, 12px;
padding:3px, 3px, 5px;
}
 img {
    width:  200px;
    height: 200px;
    float: center;
} 
#subdued{
   text-align:center;
   color: #43BCE9
}